//windres resources.rc resources.coff
MAINICON ICON "imagens/iconeTernaria.ico"
Background BITMAP "imagens/Background1920.bmp"
BarraInv BITMAP "imagens/BarraInv.bmp"
Bloquinho BITMAP "imagens/Bloquinho.bmp"
Bloquinho2 BITMAP "imagens/Bloquinho2.bmp"
Bloquinho3 BITMAP "imagens/Bloquinho3.bmp"
BossE BITMAP "imagens/Boss.bmp"
BossEA BITMAP "imagens/BossAndando.bmp"
BossD BITMAP "imagens/BossDireita.bmp"
BossDA BITMAP "imagens/BossAndandoDireita.bmp"
Heart BITMAP "imagens/vida.bmp"
HeartBroken BITMAP "imagens/BrokenHeart.bmp"
EspadaD BITMAP "imagens/EspadaDireita.bmp"
EspadaE BITMAP "imagens/EspadaEsquerda.bmp"
FerE BITMAP "imagens/Fer.bmp"
FerEA BITMAP "imagens/FerAndante.bmp"
FerD BITMAP "imagens/FerDireita.bmp"
FerDA BITMAP "imagens/FerDireitaAndante.bmp"
Folhas BITMAP "imagens/Folhas.bmp"
Grama BITMAP "imagens/grama.bmp"
PickD BITMAP "imagens/PicaretaDireita.bmp"
PickE BITMAP "imagens/PicaretaEsquerda.bmp"
ShotD BITMAP "imagens/ShotgunDireita.bmp"
ShotE BITMAP "imagens/ShotgunEsquerda.bmp"
Stone BITMAP "imagens/Stone.bmp"
Terra BITMAP "imagens/terra.bmp"
TernariaLogo BITMAP "imagens/TernariaLogo.bmp"
Tronco BITMAP "imagens/Tronco.bmp"
ZumbiE BITMAP "imagens/Zumbi.bmp"
ZumbiEA BITMAP "imagens/ZumbiAndando.bmp"
ZumbiD BITMAP "imagens/ZumbiDireita.bmp"
ZumbiDA BITMAP "imagens/ZumbiAndandoDireita.bmp"
TernariaIcon ICON "imagens/iconeTernaria.ico"
Hand ICON "imagens/Hand.ico"
